.containerLandingPage {
    background-color: #ec1d24;
    width: 100vw;
    height: 100vh;
}

.containerImg {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 60%;
}

.containerButton {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
	line-height: 50px;
	text-align: center;
	width: 250px;
    padding: 15px;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
	cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
	position: relative;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    /*
	background-color: rgba(255,255,255,0.1);
    */
    background-color: rgba(32, 32, 32, .1);
	transition: all 0.3s;
    
}
.btn:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

@media only screen and (max-width : 768px) {

    .containerImg {
        height: 50%;
    }

    .img {
        width: 90%;
    }

    .containerButton {
        flex-direction: column;
    }

    .btn {
        margin: 20px;

    }
}

/*
.button {
    position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: #202020;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  color: #ffffff;
}

.button::after, .button::before {
    content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
}

.button::after {
    bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #ffffff;
      border-right-color: #ffffff
}

.button::before {
    top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #ffffff;
      border-left-color: #ffffff;
}

.button:hover::after, .button:hover::before {
    border-bottom-color: #ffffff;
      border-right-color: #ffffff;
      border-top-color: #ffffff;
      border-left-color: #ffffff;
      width: 100%;
      height: 100%
}

*/