.sectionContainer {
    margin: 0;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    border-radius: .3em;
    width: 100%;
}

.sectionContainer h2 {
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 2px solid #ec1d24;
    font-weight: 500;
    font-style: italic;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.charactersContainer {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: 30% 30% 30%;
    
}

.cardLink {
    color: #000;
    text-decoration: none;
}

.cardContainer {
    transition: .2s;
    background-color: #fff;
    border-radius: .2em;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}

.cardContainer:hover {
    transform: scale(1.05);
}

.cardContainer img {
    border-top-right-radius: .2em;
    border-top-left-radius: .2em;
    width: 100%;
}

.cardContainer p {
    margin: 0;
    padding: 1em;
    
}

.infoSearch {
    font-weight: 300;
    font-style: italic;
}

.infoSearch p span {
    font-weight: 500;
}

.searchEmpty {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 2em auto;
}

.iconInfo {
    font-size: 2em;
    margin: 0;
}

.dataProvider {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.dataProvider a {
    text-decoration: none;
    color: #283747;
    text-align: center;
    font-size: 1em;
}

@media (max-width: 500px) {
    .charactersContainer {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 100%;
        
    }
}