.container {
    margin: 3em;
    
}

.contentTitleImg {
    display: flex;
}

.contentTitleImg div {
    width: 100%;
    margin-right: 1em
}
.title {
    margin: 0;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 2px solid #ec1d24;
    font-weight: 500;
    font-style: italic;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.description {
    font-size: 1.2em;
    font-weight: 400;
}

.description span {
    font-weight: 600;
}